.fondoLogin {
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.fondoNegro_Claro {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

#controlMenu .controlActivo {
    font-size: 25px;
    border-bottom: 2px solid #FFF;
}

#buscadorControl .botonBuscar {
    background-color: #FFF;
}

#buscadorControl .botonBuscar::after {
    color: #474747;
}

.cajaInicio {
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 20px;
    border-radius: 5px;
}

.cajaInicio h1 {
    color: #474747;
    font-weight: 600;
    font-size: 30px;
}

#formMarcas label {
    color: #474747;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: 300;
}

.errorMensaje {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 28%;

}

.errorMensaje p {
    padding: 12px;
    background-color: #FFF;
    color: #474747;
    font-weight: 600;
    border-radius: 5px;
}

#controlMenu a {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.logOut {
    background-color: #FFF;
    border-radius: 5px;
    padding: 10px;
}

.logOut a {
    color: #474747;
    font-size: 18px;
}

.logOut a::after {
    content: "\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 18px;
    margin-left: 8px;
}

.formControl {
    border-radius: 6px;
    padding: 15px 0px;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(224,224,224,1);
    -moz-box-shadow: 0px 0px 35px 0px rgba(224,224,224,1);
    box-shadow: 0px 0px 35px 0px rgba(224,224,224,1);
}

.filtroControl {
    -webkit-box-shadow: 0px 0px 35px 0px rgba(224,224,224,1);
    -moz-box-shadow: 0px 0px 35px 0px rgba(224,224,224,1);
    box-shadow: 0px 0px 35px 0px rgba(224,224,224,1);   
}

.formControl h2 {
    color: #474747;
    font-size: 42px;
    font-weight: 700;
}

.formControl h3 {
    color: #474747;
    font-size: 18px;
}

.formControl .linkAzul {
    padding: 10px 18px;
    font-size: 18px;
    margin-left: 0px;
}

.formControl input {
    font-size: 18px;
}

.linkEd_Borr a {
    color: #FFF;
    display: block;
    background-color: #37c0fb;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.botonSubmit {
    color: #FFF;
    font-size: 18px;
    border: 0px;
    font-weight: 600;
}

.controlImg {
    border: 1px dotted #e0e0e0;
    border-radius: 4px;
    padding: 10px;
}

.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -30;
}

.dolarFile {
    background-color: #37c0fb;
    color: #FFF;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 15px;
}